#main-container {
    background-color: rgb(190, 190, 190);
    
} 

#doc-body {
    background-image: url("https://wallup.net/wp-content/uploads/2016/01/238647-abstract-clouds-fractal.jpg");
    background-attachment: fixed;
    background-size: cover;
}


#site-title {
    text-align: center;
    background-color: rgb(34, 34, 34);
    
}

#search-button {
    background-color: rgb(34, 34, 34);
    color: yellow;
}

/* #search-city { 

 } */

/* #current-city-weather { 
    margin: auto;
    } */

.weather-info {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    text-shadow: cadetblue 10px 15px 15px;
    background-color: rgb(34, 34, 34);
    
}

#five-day-forecast {
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    text-shadow: cadetblue 10px 15px 15px;
    background-color: rgb(34, 34, 34);
    
}

.forecast {
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    text-shadow: cadetblue 10px 15px 15px;
    background-color: rgb(34, 34, 34);
}
/* #first-day {  } */

/* #second-day {  } */

/* #third-day {  } */

/* #fourth-day {  } */

/* #fifth-day {  } */

.city {
    background-color: rgb(34, 34, 34);
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    text-shadow: cadetblue 10px 5px 15px;
    /* border-width: 10pt; */
    /* border: black; */
}

#weather-tron-header {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 900;
    color: yellow;
    text-shadow: cadetblue 10px 15px 15px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    
    
}

#title-search {
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    text-shadow: cadetblue 10px 15px 15px;
    background-color: rgb(34, 34, 34);
}

.uv-low {
    background-color: #08972b;
    color: white;
}

.uv-moderate {
    background-color: #fff238;
    color: black;
}

.uv-high {
    background-color: #d66800;
    color: white;
}

.uv-very-high {
    background-color: #f00000;
    color: white;
}

.uv-extreme {
    background-color: #7700ff;
    color: white;
}