#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.6fr 2.2fr;
    gap: 1px 1px;
    grid-template-areas:
        "site-title site-title site-title site-title site-title site-title"
        "search-city current-city-weather current-city-weather current-city-weather current-city-weather current-city-weather"
        "list-cities five-day-forecast five-day-forecast five-day-forecast five-day-forecast five-day-forecast";
}

#site-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas:
    ".";
    grid-area: site-title;
}

#list-cities {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
        "dallas"
        "chicago"
        "new-york"
        "miami"
        "san-francisco"
        "seattle"
        "atlanta";
    grid-area: list-cities;
}

#dallas { grid-area: dallas; }

#chicago { grid-area: chicago; }

#new-york { grid-area: new-york; }

#miami { grid-area: miami; }

#san-francisco { grid-area: san-francisco; }

#seattle { grid-area: seattle; }

#atlanta { grid-area: atlanta; }

#search-city { grid-area: search-city; }

#current-city-weather { grid-area: current-city-weather; }

#five-day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas:
        "first-day second-day third-day fourth-day fifth-day";
    grid-area: five-day-forecast;
}

#first-day { grid-area: first-day; }

#second-day { grid-area: second-day; }

#third-day { grid-area: third-day; }

#fourth-day { grid-area: fourth-day; }

#fifth-day { grid-area: fifth-day; }