/* #grid-container {
    
} */

#site-title {
    text-align: center;
}

/* #list-cities {
    
} */

/* #dallas {  }

#chicago {  }

#new-york {  }

#miami {  }

#san-francisco {  }

#seattle {  }

#atlanta {  } */

/* #search-city { 

 } */

/* #current-city-weather { 
    margin: auto;
    } */

.weather-info {
    text-align: left;
    
}

/* #five-day-forecast {
    
} */

/* #first-day {  } */

/* #second-day {  } */

/* #third-day {  } */

/* #fourth-day {  } */

/* #fifth-day {  } */